<ion-header>
  <ion-navbar>
    <ion-buttons start *ngIf="_usuarioService.activo">
      <button ion-button color="primary" (click)="cerrarSesion()">
        Salir
      </button>
    </ion-buttons>
    <ion-title>
      Tixuz con Z
    </ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only color="primary" (click)="_carritoService.verCarrito()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger" class="carrito-numero">
          {{ _carritoService.cantidadProcutos }}
        </ion-badge>
      </button>      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let producto of productos" (click)="verProducto(producto)">
        <img [src]="producto.codigo  | imagen">
        <!-- <ion-img width="80" height="80" [src]="producto.codigo  | imagen"></ion-img> -->
        <p>
          {{ producto.producto}}
          <br>
          {{ producto.precioCompra | currency:'USD':'symbol' }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
