page-por-categorias {
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card .card-footer {
        margin-top: auto;
    }

    .card img {
        height: 130px;
        object-fit: cover;
    }
}
