<!--
  Generated template for the CarritoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>carrito</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss()">Cerrar</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center class="carrito-vacio" *ngIf="!carrito.length">
    <ion-icon name="ios-cart-outline" class="icon-5x" color="primary" padding-bottom></ion-icon>
    <p><strong>Su carrito está vacío</strong></p>
  </div>

  <div *ngIf="carrito.length">
    <ion-list>
      <ion-item *ngFor="let items of carrito" >
        <ion-thumbnail item-start>
          <img [src]="items.codigo | imagen">
        </ion-thumbnail>
        <h2>{{ items.producto }}</h2>
        <p>precio: {{ items.precioCompra | currency:'USD':'symbol'}}</p>
        <button ion-button clear item-end (click)="eliminar(items)">Eliminar</button>
      </ion-item>
    </ion-list>

    <hr>
    <div text-right><strong>Total: {{ _carritoService.totalMonto | currency:'USD':'symbol'}} </strong></div>
    <br>
    <button ion-button block (click)="realizarPedido()">Realizar Pedido</button>
  </div>
</ion-content>
